<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into t_goods(
			id,
			name,
			des,
			price,
			type,
			picture,
			status
		) values (
			NULL ,
			#{name},
			#{des},
			#{price},
			#{type},
			#{picture},
			#{status}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from t_goods
		where 
			id = #{id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  t_goods
			set 
				name=#{name},
				des=#{des},
				price=#{price},
				type=#{type},
				picture=#{picture},
				status=#{status}
			where 
				id = #{id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			id,
			name,
			des,
			price,
			type,
			picture,
			status
		from
			t_goods
		where 
			id = #{id}
	</select>

	<select id="findByGoodTypelistPage" parameterType="page" resultType="pd">
		select
			id,
			name,
			des,
			price,
			type,
			picture,
			status
		from
			t_goods
		where
			type = #{pd.type}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				id,
			name,
			des,
			price,
			type,
			picture,
			status
		from
				t_goods
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				id,
			name,
			des,
			price,
			type,
			picture,
			status
		from
				t_goods
	</select>

</mapper>